In [15]:
first="darlsy"
second="lida"

In [2]:
first+second #this one the output does not have space between the names

'darlsylida'

In [6]:
first+ " "+second # add a space between the names, btn the quotation marks is a space

'darlsy lida'

In [7]:
first*2 # adding repetition of a name

'darlsydarlsy'

In [11]:
first*3,second*3

('darlsydarlsydarlsy', 'lidalidalida')

In [23]:
second='Otieno' #this is a trial example to index

In [24]:
second[0]

'O'

In [14]:
second[5]

'o'

In [25]:
fullname= first+" "+ second
fullname

'darlsy Otieno'

In [27]:
fullname[8:14] #this is slicing this is done to get the first name, please note python counts steps not characters in a string

'tieno'

In [28]:
fullname [-5] #this is not well understood

't'

In [31]:
name=input("enter first name:") # this is to allow someone to enter a value

enter first name: cynthia

In [37]:
print(name)

cynthia

In [38]:
name=input('second name')

second name otieno

In [47]:
print(name)

otieno

In [48]:
for i in range (11): # this prints for the values in the range starting from zero so the range is 0to 10 ie 11 steps
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
for chr in fullname: # chr is a variable, in for loop you do not have to define a variable before using it
    print(chr)

d
a
r
l
s
y

O
t
i
e
n
o

In [52]:
for i in range (0,9,2): # the range here is 1 to 9 the 2 here represents steps to make
    print (i)

0
2
4
6
8

In [1]:
"""
we want to use a for loop to get a series
like autofill in excel
"""
#1,2,3,4,5,6,7,8,9,10
for x in range(1,11):
    print (x)

1
2
3
4
5
6
7
8
9
10

In [2]:
#1,2,3,4,5,6,7,8,9,10
for x in range(1,11): # we want to tell python to print in a straight line, we will use end
    print (x,end=',')

1,2,3,4,5,6,7,8,9,10,

In [5]:
#1,2,3,4,5,6,7,8,9,10
total=0
for x in range (1,11):
    total+=x
    print(x,end=",")

print('\n',total) # n commands to go to the next line

1,2,3,4,5,6,7,8,9,10,
 55

In [ ]:
#2,4,6,8,10
for x

In [7]:
for x in range (1,36,4): #
    print (x)

1
5
9
13
17
21
25
29
33

In [2]:
total=0
for x in range (5):
    x= int(input('enter age'))
    total +=x

print ("\n",total,total/5)
# n means print in one line

enter age 70
enter age 90
enter age 80
enter age 70
enter age 89

 399 79.8

In [7]:
""" we want to convert the for loop into while loop
you must define a variable
"""
count=0
while count< 4:
    x=int(input('enter age'))
    total +=x
    count+=1 #this is increament of count

print (total/count)

enter age 8
enter age 6
enter age 7
enter age 2

105.5

In [8]:
for i in range (5):
    print (i)

0
1
2
3
4

In [11]:
for char in ('rhoda'):
    print (char)

r
h
o
d
a

In [16]:
"""conditioning statements
if, elif, else
"""
score = 30

if score >=90:
    print ("A")
elif score >=80:
    print ("B")
elif score>=70:
    print ("C")
elif score >=60:
    print ("D")
else:
    print("E")

E

In [4]:
check=True
while check:
    name=input ("Name")
    if "Rhoda" or "rhoda" in name:
        check= False   # why is it printing just once?

Name cindy