In [1]:
import pandas as pd

In [5]:
filepath="DataFiles/car_sales.csv"
df=pd.read_csv(filepath)

In [6]:
df

   Manufacturer      Model  Year   Sales  Revenue
0        Toyota    Corolla  2021  1500.0  50000.0
1        Toyota      Camry  2022  2000.0  70000.0
2         Honda      Civic  2022  1800.0  60000.0
3         Honda     Accord  2021  1700.0  65000.0
4          Ford    Mustang  2023  2200.0      NaN
5          Ford     Fusion  2021  1600.0  55000.0
6     Chevrolet  Silverado  2022  1900.0  75000.0
7           NaN     Malibu  2021  1400.0  50000.0
8        Nissan     Altima  2022  2100.0  70000.0
9        Nissan     Sentra  2023     NaN  85000.0
10       Toyota      Prius  2021  1600.0  60000.0
11       Toyota       RAV4  2022  1900.0  65000.0
12        Honda       CR-V  2023  2200.0  75000.0
13        Honda      Pilot  2021  1500.0  55000.0
14         Ford   Explorer  2022  2000.0  70000.0
15         Ford     Escape  2023  2100.0  75000.0
16    Chevrolet    Equinox  2021  1700.0  60000.0
17    Chevrolet      Tahoe  2022  2200.0  80000.0
18       Nissan      Rogue  2023  2300.0  85000.0
19       Nissan     Murano  2021  1800.0  65000.0
20         Ford     Escape  2023  2100.0  75000.0
21    Chevrolet    Equinox  2021  1700.0  60000.0
22    Chevrolet      Tahoe  2022  2200.0  80000.0
23       Nissan      Rogue  2023  2300.0  85000.0
24       Nissan     Murano  2021  1800.0  65000.0